@import '_variables'

aside#sidebar section
  font-size: .8em
  line-height: 1.4em
  margin-bottom: 1.5em

  h2
    margin: 1.5em 0 0
    padding-bottom: .8em
    border-bottom: 1px solid $sidebar-border

  li
    list-style: none
    padding: .5em 0
    margin: 0
    border-bottom: 1px solid #e0e0e0

  a
    color: inherit

#tweets
  a
    text-decoration none
  datetime
    display block
    color $metacolor